<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206482157759-0hin9j28oq6afimd6ticl0u2b4rmcdd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206482157759-0hin9j28oq6afimd6ticl0u2b4rmcdd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCNuT8LpTmS4JXrxdStyLGojn5FNrrtHRw</string>
	<key>GCM_SENDER_ID</key>
	<string>206482157759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-fb893</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-fb893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206482157759:ios:b1da13bb648a33a28f960a</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-fb893-default-rtdb.firebaseio.com</string>
</dict>
</plist>